<!--EDIT PAGE FOR A DREAM POST-->
<center><h1> Dream Space </h1></center>
<br>
<br>

<form class="" action="/dream_posts/<%= @dream_post.id %>" method="post">
    <input type="hidden" name="_method" value="patch">
    <label for="content">Content: </label>
    <br>
    <textarea name="content" style="width:auto; height:auto;"><%= @dream_post.content%>
    </textarea>
    <br>
    <br>
    <input type="submit" value="Submit">

</form>