<center><h1> Dream Space </h1></center>
<hr class="rounded">
<br>

<center><img src="https://beffshuff.com/wp-content/uploads/2020/01/DSC_0440.jpg" 
alt="Journal" width="700" height="500"></center>
<br>
<hr class="rounded">
<h3 class="pink-text accent-2">Timeline</h3>
<br>



<br>

<div class="row">
    <% @dream_posts.each do |dream_post| %>
        <div class="col s12 m6">
            <div class="card grey darken-4">
                <div class="card-content white-text">
                    <span class="card-title pink-text lighten-2">@<%= dream_post.user.name%></span>
                    <p><%= dream_post.content %></p>
                    <h6><a href="/dream_posts/<%= dream_post.id %>"><%= dream_post.created_at %></a></h6>
                </div>
            </div>
        </div>
    <% end %>
  </div>