<center><h1> Dream Space </h1></center>
<hr class="rounded">
<br>


<h3 style="color:green;">Homepage</h3>


<% @dream_posts.each do |dream_post| %>
    <h5>@<%= dream_post.user.name %></h5>
    <p><%= dream_post.content %></p>
    <h6><a href="/dream_posts/<%= dream_post.id %>"><%= dream_post.created_at %></a></h6>
    <hr class="dotted">
<% end %> 