<center><h1> Dream Space </h1></center>
<h3>Create a new Dream Post: </h3>

<form class="" action="/dream_posts" method="POST">
    <label for="content">Content: </label>
    <br>
    <input type="text" name="content" value="">
</form>