        <!-- SHOW PAGE FOR A DREAM POST-->


<h2><%= @dream_post.user.name %>'s Dream Post</h2>
<br>
<br>

<p><%= @dream_post.content %></p>


<!--if I am the user thaat owns this entry, show edit and delete links -->

<!--Edit Link-->
<% if authorized_to_edit?(@dream_post) %>
    <a href="/dream_posts/<%=@dream_post.id%>/edit">Edit</a>
    <br>
    <br>


<!-- Delete Link -->
    <form class="" action="/dream_posts/<%= @dream_post.id %>" method="post">


<!-- How do I turn this form submission into a DELETE request??/ -->
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" name="" value="Delete">
    </form>
<% end %>    

