SHOW PAGE FOR A DREAM POST
<h2><%= @dream_post.user.name %>'s Dream Post</h2>
<br>
<br>

<p><%= @dream_post.content %></p>

<!--if I am the user thaat owns this entry, show edit and delete links -->

<!--Edit Link-->
<% if authorized_to_edit?(@dream_post) %>
    <a href="/dream_posts/<%=@dream_post.id%>/edit">Edit</a>


<!-- Delete Link -->
    <a href="/dream_posts/<%=@dream_post.id%>/delete">Delete</a>

<% end %> 

