<h2>Create a new Dream Post: </h2>

<form class="" action="/dream_posts/new" method="POST">
    <label for="content">Content: </label>
    <br>
    <input type="text" name="content" value="">
    <br>
    <br>
    <input type="submit" value="Create Entry">

</form>