<center><h1> Dream Space </h1></center>

<h4>Log In!</h4>
<br>

<form class="" action="/login" method="POST">
    <label for="email">Email:</label>
    <input type="text" name="email" value="">
    <br>
    <br>
    <label for="password">Password:</label>
    <input type="password" name="password" value="">
    <br>
    <br>
    <input type="submit" value="Login" class="btn btn-info pink lighten-1">
</form>

<br>
<a href="/" class="btn btn-info pink lighten-1">Back</a>