<center><h1> Dream Space </h1>
<h3>Log In!</h3>
<br>

<form class="" action="/login" method="POST">
    <label for="email">Email:</label>
    <input type="text" name="email" value="">
    <br>
    <br>
    <label for="password">Password:</label>
    <input type="text" name="password" value="">
    <br>
    <br>
    <input type="submit" value="Login">
</form>

</center>
<a href="/">Back</a>