<center>
    <h3> Welcome to Dream Space! </h3>
    <hr class="rounded">
    <br>

    <img src="https://cdn.shopify.com/s/files/1/0066/0471/8193/products/Mini_dream_journal_shopify3_1024x1024.jpg?v=1591955470"
    alt="Journal" width="600" height="300">
    <br>
    <a class="btn btn-info pink lighten-1" href="/login">Log In</a> 
    <br>
    <br>
    OR
    <br>
    <br>
    <a class="btn btn-info pink lighten-1" href="/signup">Sign Up</a>
</center>