<center>
    <h3> Welcome to Dream Space! </h3>
    <hr class="rounded">
    <br>

    <img src="https://www.edding.com/fileadmin/ideas/diy-diary-cover-decoration/diy-diary-cover-additional-02.jpg"
    alt="Journal" width="900" height="500">
    <br>
    <a class="btn btn-info pink lighten-1" href="/login">Log In</a> 
    <br>
    <br>
    OR
    <br>
    <br>
    <a class="btn btn-info pink lighten-1" href="/signup">Sign Up</a>
</center>